# Ignore pycram folder
pycram/

# Ignore reference docs folder
reference docs/

# Optional: Ignore common Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
#dd the folders pycram, reference docs, and env to the .gitignore file
pycram/
reference docs/
env/
# add images in the src images forlder and enhanced images in the src enhanced_images folder to the .gitignore file
images/
enhanced_images/
src/images/
src/enhanced_images/
# lets stop tracking the unused files
unused/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
# add th folder pycram_clone_dev to fgit ignore
pycram_clone_dev/
